target/
!.mvn/wrapper/maven-wrapper.jar
*.class

*.iml
*.ipr
*.iws
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/java-formatter.xml
.settings/
.classpath
.project

*.log
*.mv.db
*.trace.db
orderflow-data/

.DS_Store
Thumbs.db
